<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
        <title>Real-time Audio Recognition</title>
    </head>
    <body>
        <main style="display: flex; flex-direction: column; align-items: center; height: 100dvh; justify-content: center">
            <div style="width: 600px; height: 500px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px">
                <div style="display: flex">
                    <button id="startButton" class="btn start" onclick="startRecording()">Начать запись</button>
                    <button id="stopButton" class="btn stop" onclick="stopRecording()" style="display: none" disabled>Остановить запись</button>
                </div>
                <div style="text-align: center;">
                    <div id="transcriptionResult" class="text result"></div>
                    <p id="recordingIndicator"  class="status-record" style="display: none">Записываем...</p>
                </div>
            </div>
        </main>

        <script src="{{ url_for('static',filename='script.js') }}"></script>
    </body>
</html>